.container {
  margin-bottom: 50px;
  display: grid;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: 20px;
}

.App {
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
}
