.ads-container {
  border-radius: 3px;
  max-height: 300px;
  width: 100%;
  overflow: hidden;
  border: #ccbecc 1px solid;
  padding: 5px;
}

.desc {
  width: 100%;
  padding: 15px;
  background-image: linear-gradient(to bottom, transparent, #dfd8df);
}

.button {
  background-color: #573968;
  color: white;
  padding: 10px 15px;
  border-radius: 10px 5px;
  text-decoration-line: none;
  box-shadow: #cab7ca75 2px 2px 2px 2px;
}

.button:hover {
  background-color: #41314a;
  box-shadow: #cab7caa5 5px 3px 3px 4px;
}
